@using WebCrawlerInterface.Models;
@{
    ViewData["Title"] = "Web Articles";
}

<div class="text-center">
    <h1 class="display-4">Web Articles</h1>
    @foreach (var r in (List<Articles>)ViewData["data"])
    {
        <p style="text-align: left;">
            <span style="font-weight: bold">@r.url</span><br />
            @r.content
        </p>
    }
</div>
